@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css');

@keyframes unstick {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.05);
  }
}

.todo-board {
    padding: 20px;
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
 
  .new-note-container {

  }

  .notes-container {
    position: relative;
  }
  
  .note {
    color: black;
    width: 10em;
    height: 10em;
    border-radius: 1em 1em 0 0;
    position: absolute;
    transition: transform 0.2s ease-in-out;
  }

  .note.dragging {
    animation: unstick 0.4s forwards;
  }

  .moveable {
    border-radius: 1em 1em 0 0;
    height: 15%;
    width: 100%;
  }

  .note-text {
  }

  .trash-can {
    position: absolute;
    bottom: 2em;
    right: 2em;
  }
  
  textarea {
    flex-grow: 1;
    resize: none;
    background-color: transparent;
    color: black;
    width: 100%;
    height: 100%;
  }
  